# Ignore node_modules directory
node_modules/

# Ignore Git directory
.git/

# Ignore VSCode directory
.vscode/

# Ignore Husky hooks
.husky/

# Ignore build output directories
dist/
public/
test/

# Ignore package configuration files
package.json
package-lock.json

# Ignore ESLint and Prettier configuration files
.eslintrc
.eslintrc.js
.prettierrc
.prettierrc.js
.prettierrc.json
.prettierignore

# Only lint files in the src folder
!src/**/*
